PORT=8080
APP_DEBUG=false
ENABLE_SWAGGER=true

APP_FULL_URL=https://viethung.uk

# DB Master
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5433
DB_MASTER_USER=admin
DB_MASTER_PASSWORD=admin123
DB_MASTER_NAME=clever_school

# DB Replica
DB_REPLICA_HOST=localhost
DB_REPLICA_PORT=5433
DB_REPLICA_USER=admin
DB_REPLICA_PASSWORD=admin123
DB_REPLICA_NAME=clever_school

## DB Master
#DB_MASTER_HOST=220.231.94.116
#DB_MASTER_PORT=5433
#DB_MASTER_USER=admin
#DB_MASTER_PASSWORD=admin123
#DB_MASTER_NAME=clever_school
#
## DB Replica
#DB_REPLICA_HOST=220.231.94.116
#DB_REPLICA_PORT=5434
#DB_REPLICA_USER=admin
#DB_REPLICA_PASSWORD=admin123
#DB_REPLICA_NAME=clever_school

## DB Master
#DB_MASTER_HOST=10.10.2.198
#DB_MASTER_PORT=5433
#DB_MASTER_USER=admin
#DB_MASTER_PASSWORD=admin123
#DB_MASTER_NAME=clever_school
#
## DB Replica
#DB_REPLICA_HOST=10.10.2.198
#DB_REPLICA_PORT=5434
#DB_REPLICA_USER=admin
#DB_REPLICA_PASSWORD=admin123
#DB_REPLICA_NAME=clever_school
#
AWS_ACCESS_KEY_ID=AKIAYQYUA6P3V4Q2YJ6O
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=lmsx-dev
AWS_URL=https://cdn-dev.xlms.vn

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_ENABLED=true
GEMINI_API_KEY=AIzaSyDy9iyaGZLfqkUyuB_vXPmztVuK22wgav4
# JWT Secret
JWT_SECRET=xguSk7VsRrpYS1wuKnK1PXdclCS4ymqoKoDYoDbi/b0=

ALLOW_ORIGINS=http://localhost:3000,https://test.viethung.uk,https://viethung.uk

# WebSocket Configuration - THÊM CÁC DÒNG NÀY
