PORT=8080

# DB Master
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5433
DB_MASTER_USER=admin
DB_MASTER_PASSWORD=admin123
DB_MASTER_NAME=lms

# DB Replica
DB_REPLICA_HOST=localhost
DB_REPLICA_PORT=5434
DB_REPLICA_USER=admin
DB_REPLICA_PASSWORD=admin123
DB_REPLICA_NAME=lms

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_ENABLED=true

# JWT Secret
JWT_SECRET=secret

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password

# Email From
FROM_EMAIL=your-email@gmail.com
FROM_NAME=LMS System

# Frontend URL (để tạo link reset password)
FRONTEND_URL=http://localhost:3000

API_DOMAIN=http://localhost:8080
